* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f2937;
}

.section {
  padding: 0 0 50px 0;
}

.btn {
  background-color: #5fd788;
  border-radius: 8px;
  padding: 12px 30px;
}

.container {
  max-width: 1440px;
  padding: 0 5px;
  margin: 0 auto;
}

.header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  margin-left: auto;
}
.header .header__nav a {
  /* Body Small (SemiBold) */
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 135%;
  display: inline-block;
  text-decoration: none;
  color: transparent;
  color: #ffffff;
  display: inline-flex;
  margin: 0 5px;
}

.hero {
  padding: 140px 100px;
  background-image: url("/img/hero-bg-img.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.hero .hero__inner {
  display: flex;
}
.hero .hero__content {
  padding-right: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero .hero__content h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: "SF Pro Rounded";
  font-weight: 600;
  font-style: normal;
  font-size: 96px;
  line-height: 86px;
  color: #5fd788;
  padding-bottom: 38px;
}
.hero .hero__content p {
  text-align: start;
  /* Body Medium (SemiBold) */
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #9ca3af;
}

.categories .categories__card {
  display: flex;
  padding: 102px 0;
}
.categories .categories__card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 70px 85px;
  background: #374151;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0px 20px;
}
.categories .categories__card ul:hover {
  background-color: #5fd788;
}
.categories .categories__card ul:hover a svg path:first-child {
  color: #ffffff;
}
.categories .categories__card ul:hover p {
  color: #ffffff;
}
.categories .categories__card a {
  color: #5fd788;
}
.categories .categories__card p {
  /* Body Medium (SemiBold) */
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #5fd788;
  text-align: center;
}

.categories__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-with-text {
  padding-right: 91px;
}
.img-with-text .img-with-text__inner {
  display: flex;
}
.img-with-text .img-with-text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-with-text .img-with-text__content h2 {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  text-align: right;
  letter-spacing: 0.01em;
  color: #5fd788;
  padding-bottom: 32px;
}
.img-with-text .img-with-text__content p {
  /* Body Medium (SemiBold) */
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  margin-left: auto;
  max-width: 347px;
  color: #9ca3af;
  padding-bottom: 24px;
}
.img-with-text a {
  display: inline-block;
  text-decoration: none;
  color: transparent;
  flex-wrap: wrap;
  color: #1f2937;
  text-align: right;
  margin-left: auto;
  max-width: 270px;
  letter-spacing: 0.01em;
}/*# sourceMappingURL=main.css.map */